# What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

In [18]:
# Heading
## 2nd Heading

## Tutorial
- Interactive
- Results/outputs are stored so it is easy to review
- Friendly for documentation
- No limitation from performance
- helpful shortcuts
- Industry standard for all data science, ML, AI projects.

<p> Extension of jupyter file is ipynb (i python notebook, previous name of Jupyter) </p>

## Cell Types

In [ ]:
# A Code cell is the default cell type in Jupyter
40 + 5 - 16

Any execution of code and performing operations must take place in a code cell.

## Markdown
Text may be styled within a markdown cell. 
**This is handy for**
### Section Headings 
or
#### Titles
_This allows easy viewing of your project in an organized fashion._

The third cell type Raw cannot perform executive tasks nor has any styling options. However, it is preferred for plain text documentation and any explanation of code or analytics, particularly if there are passages or paragraphs.

# Short Cuts

[shift] + [enter] : run a cell

Command mode:
a : insert cell above

b : insert cell below

dd : delete a cell

z : undo a delete cell

r : convert cell to raw cell

m : convert cell to Markdown cell

y : convert cell to code cell

c: copy a cell

v : paste a cell

x : cut a cell

o : toggle output

## Edit Mode:

Ctrl + C : copy a text

Ctrl + V : paste

Ctrl + X : cut

Ctrl + Z : undo

# Keywords
* Keywords are reserved words in Python with designated meanings.
* These cannot be used as identifiers to name objects.

In [2]:
import keyword
print(keyword.kwlist)  # listing out the keywords within Python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
# len(keyword.kwlist)

# Identifiers

* An identifier is the name we provide to an entity such as a function or variable.
* It helps in differentiating one entity from other.
  
_There are certain dos and don'ts to observe while picking an identifier._

In [8]:
#1, YOu cannot start  with a digit

name_1 = "Sattu"

In [10]:
#2 No Special characters are allowed in identifier except

name_1 = "Sattu"

In [11]:
#3 Python is case sensitive

City = "Delhi"
City = "Mumbai"

In [ ]:
#4 K

In [ ]:
word@123='abc' # cannot use special symbols

In [ ]:
import=153 # Keywords cannot be used as identifier

In [ ]:
"""Correct way of defining an identifier:
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
and only special character allowed is _ )"""
var_1 = 14 # the variable var_1 has been initialised with a value of 14

In [ ]:
VAR_1=2 # new variable assigned
var_1 + VAR_1

In [ ]:
city_ind = "Mumbai"

# Comments
The use of comments in a code cell can explain the method or operation in use. Commenting helps to
- Improve readability
- Make for a quick review of the work

In [ ]:
# Hashtag is effective for short phrases
units = 10
sell_price = 120
total = units*sell_price  # Total amount

In [ ]:
total # if we have long sentences and need to go to the next line, 
# we cannot continue it without another hashtag

#### The syntax is designed such that the comment is ignored by the kernel during execution of the cell.

In [19]:
'''
Multi-line remarks becomes easy to 
express with this style of commenting.
'''
num1 = 25
num2 = 50
sum = num1 + num2
sum

75

In [ ]:
"""Correct way of defining an identifier:
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
and only special character allowed is _ )"""
var_1 = 14 # the variable var_1 has been initialised with a value of 14

# Statements
* Instructions that a Python interpreter can execute

In [28]:
# Single line statement
p1 = 20 + 30 +  40  +  50 + 60 + 70 + 80
p1

350

In [30]:
# Multiple line statement
p1 = 20 + 30      \
+  40  +  50 + 60  \
+ 70 + 80 
p1

350

# Variables

*  A Python variable creates a reserved memory location to store a value.
*  A variable can be initialised by assigning some value to begin with.

In [ ]:
k=30 ## variable creation

In [ ]:
k ## calling of variable

In [31]:
a = 20
b = 4
a = 2

print(a+b) # print is a function

6

In [ ]:
print(k) ## print the variable

In [ ]:
tigers = 2500
lions = 1450
tigers
lions  # attempt to call multiple variables

In [ ]:
print(tigers) # requires print() function to execute multiple displays
print(lions)

## Variable Assignment

In [34]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

### Multiple Assignment

In [33]:
species,age,bp = "Elephant",50,125.6
# Using commas to separate variables
print("Species:",species)
print("Lifespan in years:",age)
print("Average blood pressure:",bp)

Species: Elephant
Lifespan in years: 50
Average blood pressure: 125.6

In [32]:
p1 = p2 = p3 = p4 = 44
# All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# Data Types

## Numeric
**Integer**: denoted as int 

**Float**: denoted as float

In [ ]:
import sys

In [36]:
#Numericals

a = -10
type(a) # type() function is used to check the type of variable

int

In [37]:
b = 12.0
type(b) # type() function is used to check the type of variable

float

In [39]:
#Complex numbers

a = 4j
type(a) # type() function is used to check the type of variable

complex

In [ ]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

In [ ]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex

## Boolean
Boolean datatype can have only two possible values: True or False

In [47]:
#Boolean 
4>5

False

In [50]:
#str
str1 = "I am Having a good day."
print(str1)

I am Having a good day.

In [6]:
# Slicing

# str1[start_index:end_index:step ]
str1= "123456789"
str1[::-1] # reverse the string

'987654321'

In [13]:
# Slicing for my practice

str2= "Sattu Yadav"
str2[0::2] # It is ignoring the first and second string
str2[0::3] # Why it is not printing because it will always print last string  
str2[0:5:2] # Slicing the string

'Stu'

In [51]:
#Indexing

str1[0] # First character

'I'

In [40]:
on=True

In [41]:
off=False

In [42]:
type(on)

bool

In [43]:
isinstance(off, bool)

True

In [44]:
isinstance(off, int) # qualifies as int

True

In [45]:
bool(0)

False

In [46]:
bool(-98) # Anything apart from 0 is True

True

## String

> A sequence of characters is a string.

In [ ]:
doc = "It's a fine day."
doc

In [ ]:
print("Type of the document:",type(doc))

In [ ]:
address = '#2 Main Street, 56/3' # Define string using single quotes
print(address)

### String indexing

In [ ]:
str1='HELLO PYTHON'

In [ ]:
str1[5] # First character in string "str1"

In [ ]:
str1[-7] # reverse indexing possible

In [ ]:
len(str1) # Number of chars in given string

In [ ]:
str1[-1] # Last character

In [ ]:
str1[6] #Fetch 7th element of the string

### String Slicing

In [ ]:
str1[0:5] ## start:end

In [ ]:
str1

In [ ]:
str2='Data is new fuel'
# Task:-Extract new and data from above string

In [ ]:
str1[:] # whole string

In [ ]:
str1[3:] # default end ~ end of string

In [ ]:
str1[:6] # default start ~ beginning of string

In [ ]:
str1[-10:-5]

In [ ]:
str1

In [ ]:
# str1[start:end:step]

str1[::-2]

### Update and Delete string

* Strings are immutable which means elements of a
string cannot be changed once the they are assigned with
any values

In [2]:
#String is immutable in nature
str1 = 'Hello' # Cannot change the string
str1[0] = "J"

TypeError: 'str' object does not support item assignment

In [11]:
str2 = str1.replace("H", "J") # Replacing the string
print(str2) # Printing the new string

Jello

In [12]:
str2 = str1.replace("Hello", "Jhello") # Replacing the string
print (str2) # Printing the new string

Jhello

In [13]:
course='Data Science'
course[:4]

'Data'

In [14]:
course[:4] = "Life"

TypeError: 'str' object does not support item assignment

In [15]:
# Alternately try with the replace function
course.replace("Data","Life")

'Life Science'

In [16]:
# while it delivers the output
print(course) # the immutable string remains unchanged

Data Science

In [21]:
del course # delete the object
course # called right after - error confirms success

NameError: name 'course' is not defined

### String concatenation

In [24]:
#  String concatenation
s1 = "Well"
s2 = "being"
s1 + s2

'Wellbeing'

In [25]:
# storing the result
s3 = s1 + "-" + s2
s3

'Well-being'

### String Membership

In [26]:
greeting = "Hello Namaste Hola! Salaam"
greeting

'Hello Namaste Hola! Salaam'

In [ ]:
'Bonjour' in greeting # Check for presence of substring within a document

In [ ]:
"Namaste" in greeting

In [ ]:
'hola' in greeting # case-sensitive

In [36]:
# task
sentence  = "I want you to figure out how many words are there in this sentence"
# sentence.count(" ") # count the number of spaces
sentence.count(" ") + 1 # count the number of words

14

### String Functions

In [ ]:
mystr2 = " Hello Everyone    "
mystr2

In [37]:
mystr2.count('e')

NameError: name 'mystr2' is not defined

In [38]:
prep_clean.lower() # lowercase

NameError: name 'prep_clean' is not defined

In [ ]:
prep_clean.upper() # all caps

In [40]:
book_title = "introduction to organic chemistry"
book_title.capitalize() # Capitalize the first letter
book_title.title() # Capitalize the first letter of each word

'Introduction To Organic Chemistry'

### format() for a string

In [46]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
cost= "Cost of the three items are {} , {} and {} respectively.".format(item1,item3,item2)
cost

'Cost of the three items are 40 , 77 and 55 respectively.'

In [44]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
f"Cost of the three items are {item1} , {5+20+30} and {item3} respectively."

'Cost of the three items are 40 , 55 and 77 respectively.'

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
f"Cost of the three items are {item1} , {item2} and {item3} respectively."

In [42]:
car="Tata Motors"
consult = "TCS"
airline = "Air India"
tata_grp = "The conglomerate Tata & Sons has several companies with {}, {} and {} into manufacturing, services and aviation."
print(tata_grp.format(car,consult,airline))

The conglomerate Tata & Sons has several companies with Tata Motors, TCS and Air India into manufacturing, services and aviation.

# Typecasting

Type Casting is the process of a variable's data type converted into another type in order for an operation to be performed.

* There are 2 ways in which typecasting occurs:

1) Autotypecasting

2) Forced Typecasting

## Auto Typecasting
* The Python interpreter automatically converts one data type to another without any user involvement.

In [ ]:
4 + 5.67 + False
##( background processing of the code) due to the
##higher hierarchy of float datatype

In [ ]:
4 + 5.6 + False + True

In [ ]:
4+3+'data'+6.7

In [ ]:
# Int - float, float - int - possible
# int/ float - str - possible
# str - int/float - possible, given the str is convertible to int/float
# str - bool - possible, given the str is convertible to bool

In [ ]:
a = 10
b = 20

int = a+b
float = a+b
str = a+b
bool = a+b
print(int)
print(float)
print(str)
print(bool)

## Forced Typecasting

In [ ]:
a=9.7 # consider a float variable

In [ ]:
type(a)

In [ ]:
int(a) # drags to base integer value

In [ ]:
num=5 # consider an integer variable

In [ ]:
float(num)

In [ ]:
bool(num)  # boolean for any value except 0 is True

In [ ]:
str(num)

In [ ]:
switch=False # consider a boolean variable

In [ ]:
float(switch)

In [ ]:
int(switch)

In [ ]:
str(switch)

In [ ]:
doc='Happiness' # Consider a string

In [ ]:
float(doc)

In [ ]:
int(doc)

The numerical equivalent of a string is usually non-existent.

In [ ]:
blank_str=''

In [ ]:
bool(blank_str) # empty string ~ null value or 0

In [ ]:
int('2') # an exception

In [ ]:
float('abc')  # Convert the datatype to float

In [ ]:
bool(8.9)#converting float type into bool

In [ ]:
bool(0)

In [ ]:
bool(-1)

In [ ]:
# Guess the output
int(1.5)+4+bool(0)

In [ ]:
int(5.6)+float(6)+bool(23)

In [ ]:
int(6.5)+1.2+int(5.5)+ bool(0)